.banner {
    display: flex;
    margin-top: 80px;
}

.left-column, .right-column {
    flex-basis: 50px;
}

.right-column img {
    text-align: right;
    width: 100%;
}

.h1 {
    font-family: 'Courier New', monospace;
}

